<div data-ng-controller="UpdateCustomerController">

<form novalidate name="customerSearchForm">
   <div class="form-group">
    <span class="col-sm-3 control-label">Search By Id:</span><input type="number" name="searchid" class="form-control" data-ng-model="customer.id" ng-required="true" placeholder="id"></input>
    <p ng-show="(customerSearchForm.searchid.$dirty || submitted) && customerSearchForm.searchid.$invalid " class="error-mesg">Id should be a number.</p>
    </div>
    <button class="btn btn-primary" data-ng-click="searchCustomer(customer.id)">Search</button>
</form>

<h3 class="text-muted">Search Result</h3>
<form novalidate name="customerUpdateForm">
    <div class="form-group">
        <span class="col-sm-3 control-label">Id:</span><input type="number" name="id" class="form-control" data-ng-model="upCustomer.id" ng-Readonly="true" ></input>
    </div>
    <div class="form-group">
        <span class="col-sm-3 control-label">Name:</span>
        <input type="text" class="form-control" data-ng-model="upCustomer.name" name="name" required placeholder="name">
        </input>
        <p ng-show="(customerUpdateForm.name.$dirty|| updateSubmitted) && customerUpdateForm.name.$invalid" class="error-mesg">Name is required.</p>
    </div>

    <div class="form-group">
        <span class="col-sm-3 control-label">City:</span><input type="text" name="city" class="form-control" data-ng-model="upCustomer.city" ng-required="true" placeholder="city"></input>
    </div>
    <div class="form-group">
        <span class="col-sm-3 control-label">State:</span><input type="text" name="state" class="form-control" data-ng-model="upCustomer.state" ng-required="true" placeholder="state"></input>
    </div>
    <div class="form-group">
        <span class="col-sm-3 control-label">Zip:</span><input type="number" name="zip" class="form-control" data-ng-model="upCustomer.zip" ng-reuired="true" placeholder="pincode"></input>
        <p ng-show="(customerUpdateForm.zip.$dirty|| updateSubmitted) && customerUpdateForm.zip.$invalid " class="error-mesg">Zip code should be a number.</p>
    </div>
    <div class="form-group">
        <span class="col-sm-3 control-label">Number:</span><input type="number" name="number" class="form-control" data-ng-model="upCustomer.number" ng-reuired="true" placeholder="Contact Number"></input>
        <p ng-show="(customerUpdateForm.number.$dirty|| updateSubmitted) && customerUpdateForm.number.$invalid " class="error-mesg">Phone number should be a number.</p>
    </div>
    <button type="submit" class="btn btn-primary" data-ng-click="updateCustomer(upCustomer)">Update</button>
</form>
    
</div>


